body{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
h1{
    text-align: center;
}
.container{
    align-items: center;
    display: flex;
    flex-direction: column;
   
    margin: auto;
}
.row{
    margin: 8px 0;
    justify-content: space-around;

}
.row input{
    margin: 0%;
    padding: 10px 0px;
    border-radius: 5px;
    border: 2px solid black;
    font-size: 24px;
}
.button{
    width: 66px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
    padding: 20px;
}
